[user]
	email = eike.lurz@tuta.io
	name = Eike Lurz
	signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILngTUBVvEkpcsoHSkT9sj+uvuBrUoQaz5n3jCt8alUj eike.lurz@tuta.io"
[push]
	default = current
  autoSetupRemote = true
[commit]
	gpgsign = true
  autosign = true
  verbose = true
[tag]
  gpgsign = true
  sort = version:refname
[pull]
	ff = only
  rebase = true
[init]
	defaultBranch = main
[core]
	autocrlf = input
	editor = nvim
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[rerere]
	enabled = true
  autoupdate = true
[rebase]
  updateRefs = true
  autoSquash = true
  autoStash = true
[column]
  ui = auto
[branch]
  sort = -committerdate
[fetch]
  prune = true
  pruneTags = true
  all = true
[help]
  autocorrect = prompt
# Difftastic configuration
[alias]
  # Difftastic aliases, so `git dlog -p` is `git log -p`
  # with difftastic and likewise for the other subcommands.
  dlog = -c diff.external=difft log --ext-diff
  dshow = -c diff.external=difft show --ext-diff
  ddiff = -c diff.external=difft diff
  # `git log` with patches shown with difftastic.
  dl = -c diff.external=difft log -p --ext-diff
  # Show the most recent commit with difftastic.
  ds = -c diff.external=difft show --ext-diff
  # `git diff` with difftastic.
  dft = -c diff.external=difft diff
[diff]
  external = difft
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
