* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font, JetBrains Mono, Fira Code Retina, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(23, 21, 36, 0.8);
  border-bottom: 3px solid rgba(68, 65, 90, 0.8);
  color: #e0def4;
  transition-property: background, background-color;
  transition-duration: 0.5s;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #e0def4;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: #56526e;
  border-bottom: 3px solid white;
}

#clock,
#battery {
  padding: 0 10px 0 10px;
  margin: 0;
}

#network,
#bluetooth {
  padding: 0 5px 0 5px;
  margin: 0;
}

#tray {
  padding: 0 5px 0 10px;
  margin: 0;
}

#tray > .active {
  color: #56526e;
}

#tray > .passive {
  color: #2a283e;
}

#cpu,
#memory,
#temperature,
#backlight,
#pulseaudio,
#custom-media,
#mode,
#idle_inhibitor {
  padding: 0 10px 0 10px;
  margin: 0;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid #e0def4;
}

#memory.half,
#cpu.half {
  background: #f5a70a;
}

#memory.full,
#cpu.full {
  background: #ff5555;
}

#clock {
  background-color: #2a273f;
  color: #e0def4;
}

#battery {
  background-color: #e0def4;
  color: black;
}

#battery.charging {
  color: #e0def4;
  background-color: #9ccfd8;
}

#temperature.critical {
  background: #eb6f92;
}

#idle_inhibitor.deactivated {
  background: #6e6a86;
}

#pulseaudio.muted {
  background: #6e6a86;
}

@keyframes blink {
  to {
    background-color: #e0def4;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #eb6f92;
  color: #e0def4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
