!/code-amber-lang
!/spec-planner
!/tuicr
!/index-knowledge
!/librarian
!/README.md

# github.com/mattpocock/skills
!/codebase-design/
!/diagnosing-bugs/
!/domain-modeling/
!/grill-me/
!/grill-with-docs/
!/grilling/
!/handoff/
!/improve-codebase-architecture/
!/prototype/
!/tdd/
!/teach/
!/to-issues/
!/to-issues/
!/triage/
!/writing-great-skills/
