*
!*/
!code-amber-lang/**
!spec-planner/**
!tuicr/**
!index-knowledge/**
!librarian/**
!README.md

# !cave*/**
# !plannotator*/**

# github.com/mattpocock/skills
!codebase-design/**
!diagnosing-bugs/**
!domain-modeling/**
!grill-me/**
!grill-with-docs/**
!grilling/**
!handoff/**
!improve-codebase-architecture/**
!prototype/**
!tdd/**
!teach/**
!to-issues/**
!to-issues/**
!to-prd/**
!triage/**
!writing-great-skills/**
!process-dependabot-prs/**
