[user]
	email = eike.lurz@sportalliance.com
	name = Eike Lurz
	signingkey = ~/.ssh/id_rsa.pub
[push]
	default = current
[commit]
	gpgsign = true
[tag]
  gpgsign = true
[pull]
	ff = only
[init]
	defaultBranch = main
[core]
	autocrlf = input
	editor = nvim
[gpg]
	format = ssh
