[user]
  email = eike.lurz@sportalliance.com
  name = Eike Lurz
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIOvTLpSjA0Ue655V5AYfzKSGZSuDGxGK5Sd1uQfGuFA
[push]
  default = current
  autoSetupRemote = true
[commit]
  gpgsign = true
  verbose = true
[tag]
  gpgsign = true
  sort = version:refname
[pull]
  ff = only
  rebase = true
[init]
  defaultBranch = main
[core]
  autocrlf = input
  editor = nvim
[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[rerere]
	enabled = true
  autoupdate = true
[rebase]
  updateRefs = true
  autoSquash = true
  autoStash = true
[column]
  ui = auto
[branch]
  sort = -committerdate
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[help]
  autocorrect = prompt
